@model OrderClientViewModel

<div class="ps-page ps-page--product-detail">
    <div class="ps-product--detail ps-product--background bg--cover" data-background="img/hero/shop-hero.png">
        <div class="container">
            <div class="ps-product__header">
                <div class="ps-product__thumbnail" data-vertical="true">
                    <figure>
                        <div class="ps-wrapper">
                            <div class="ps-product__gallery" data-arrow="true">
                                <div class="item">
                                    <a href="@this.Model.ProductThumb"><img src="@this.Model.ProductThumb" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="ps-product__info">
                    <h1>@this.Model.ProductName</h1>
                    <br />
                    <div class="ps-product__specification">
                        <p><strong> Type:</strong> @this.Model.ProductType</p>
                        <p><strong> Creation date:</strong> @this.Model.CreationDate</p>
                        <p><strong> Amount: @this.Model.Amount</strong></p>
                        <p><strong> Total price: @this.Model.TotalPrice</strong></p>
                        <p><strong> Additional information: @this.Model.AdditionalInformation</strong></p>
                        <p></p>
                        <p><strong> Status: @this.Model.Status</strong></p>
                    </div>
                    <div class="ps-product__shopping">
                        @if (this.User.IsInRole("Administrator"))
                        {
                            <a class="ps-btn" asp-controller="Order" asp-action="UpdateStatus" asp-route-id="@this.Model.OrderId" asp-route-status="approved">Approve</a>
                            <p></p>
                            <a class="ps-btn" asp-controller="Order" asp-action="Delete" asp-route-id="@this.Model.OrderId">Delete</a>
                        }
                        else if (this.User.IsInRole("Confectioner"))
                        {
                            <a class="ps-btn" asp-controller="Order" asp-action="UpdateStatus" asp-route-id="@this.Model.OrderId" asp-route-status="waiting delivery">Update status</a>
                        }
                        else
                        {
                            if (this.Model?.Status?.ToLower() == "waiting delivery")
                            {
                                <a class="ps-btn" asp-controller="Order" asp-action="UpdateStatus" asp-route-id="@this.Model.OrderId" asp-route-status="delivered">Confirm delivery</a>
                                <p></p>
                            }
                            <a class="ps-btn" asp-controller="Order" asp-action="Delete" asp-route-id="@this.Model?.OrderId">Delete</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
