@model IEnumerable<ProductViewModel>

@{
    Pager pager = new Pager();
    if (ViewBag.Pager != null) { pager = ViewBag.Pager; }
}


<div class="ps-hero ps-hero--shopping bg--cover" data-background="img/hero/shop-hero.png">
    <div class="ps-hero__container">
        <div class="ps-breadcrumb">
            <ul class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li>Products</li>
            </ul>
        </div>
        <h1 class="ps-hero__heading">Products</h1>
    </div>
</div>
<div class="ps-page--shop">
    <div class="container">
        <div class="ps-shopping">
            <div class="ps-shopping__left">
                <aside class="widget widget_shop widget_categories">
                    <h3 class="widget-title">Categories</h3>
                    <ul>
                        @foreach (var item in ViewBag.Categories)
                        {
                            <li>
                                <a asp-action="FilterByCategory" asp-controller="Product" asp-route-category="@item.ToString()">@item</a>
                            </li>
                        }
                    </ul>
                </aside>
                <aside class="widget widget_shop widget_shop-filter">
                    <h3 class="widget-title">Filter price</h3>
                    <form asp-action="FilterByPrice" asp-controller="Product">
                        <input name="price" class="form-control" type="text" placeholder="Max price" />
                    </form>
                </aside>
                <aside class="widget widget_shop widget_categories">
                    <h3 class="widget-title">Type</h3>
                    <ul>
                        @foreach (var item in ViewBag.Types)
                        {
                            <li>
                                <a asp-action="FilterByType" asp-controller="Product" asp-route-type="@item.ToString()">@item</a>
                            </li>
                        }
                    </ul>
                </aside>
            </div>
            <div class="ps-shopping__right">
                <div class="ps-product-box">
                    <div class="row">
                        @foreach(var product in this.Model)
                        {
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-6 ">
                                <div class="ps-product">
                                    <div class="ps-product__thumbnail">
                                        <img src="@product.Thumbnail" alt="" style="width:210px; height:180px;" />
                                        <a class="ps-product__overlay" asp-action="ProductData" asp-controller="Product" asp-route-id="@product.Id"></a>
                                    </div>
                                    <br>
                                    <div class="ps-product__content">
                                        <div class="ps-product__desc">
                                            <a class="ps-product__title" asp-action="ProductData" asp-controller="Product" asp-route-id="@product.Id">@product.Name</a>
                                            <p><span>Type: @product.Type</span></p>
                                        </div>
                                        <div class="ps-product__shopping">
                                            <a class="ps-btn ps-product__add-to-cart" asp-action="ProductData" asp-controller="Product" asp-route-id="@product.Id">
                                                Add to cart
                                            </a>
                                            <div class="ps-product__actions">
                                                <a asp-action="FavouriteProduct" asp-controller="Product" asp-route-id="@product.Id">
                                                    <i class="fa fa-heart-o"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <partial name="_Pager" model="@pager" />
            </div>
        </div>
    </div>
</div>